* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;

  transition: 200ms ease-in-out;
}
body {
  background-color: rgb(233, 233, 233);
  color: rgb(36, 36, 36);
  overflow: hidden;
}
#root {
  display: grid;
  grid-template-rows: 5fr 1fr;
  grid-template-areas: "joke" "title";
  height: 100vh;
  width: 100%;
}

div {
  text-align: center;

  user-select: none;
  font-size: 2rem;
  font-weight: 600;
  align-self: center;
}

#text {
  grid-area: title;
}
#joke {
  font-size: 2.5rem;
  grid-area: joke;
}
button#dark {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 100;
  background: none;

  border: none;
  outline: none;

  font-size: 2.5rem;
}
